@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600;700&display=swap');
/*  */

/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); */

/* font-family: 'Audiowide', cursive; */

/*  */

:root {
    --primary-color: #019934;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
}

.navbar {
    background-color: var(--primary-color);
}

.form-control {
    border: 1px solid #aaa;
}

.navbar-nav {
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.navbar-brand span {
    margin-left: 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}

.navbar-brand svg {
    margin-right: 10px;
}

.navbar-divider {
    padding: 0 2px;
}

.btn {
    white-space: nowrap;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #1fbf55;
}

.content-container {
    margin-top: 80px;
}

.form-label {
    font-weight: 500;
}

.section {
    margin-bottom: 30px;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.icon-gap-right {
    margin-right: 10px;
}

.equal-column-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-column-height>[class*='col-'] {
    display: flex;
    flex-direction: row;
}



.menu-card-container {
    margin-top: 22%;
    margin-left: 8%;
    margin-right: 8%;
}

.menu-card {
    text-align: center;
    margin: 0 30px;
    padding: 30px;
    border: 3px solid #dbf3e3;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    color: unset;
    background: #f3fff7;
    transition: 300ms;
}

.menu-card:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-top: 10px solid var(--primary-color);
}

.menu-card .menu-card-title {
    font-weight: 700;
}

.menu-card svg {
    font-size: 50px;
    margin-bottom: 15px;
    color: var(--primary-color);
}


#processing{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 16pt;
    font-weight: 500;
}