<nav class="navbar fixed-top">
    <div class="container">
        <a class="navbar-brand" href="./">
            Masori Analytics<span>|</span><span>HOME</span>
        </a>
        <ul class="navbar-nav">
            <li onclick="logout()" style="
            cursor: pointer;
            font-size: 14pt;
            padding-right: 10px;">LogOut</li>
        </ul>
    </div>
</nav>

<script>
    function logout() {
        $.ajax({
            type: 'POST',
            url: '/logout',
            contentType: 'application/json',
            data: {},
            success: function (data) {
                if (data == "updated") {
                    window.location.href = "/home";
                }
            },
            error: function () {
                $(this).html("error!");
            }
        });
    }
</script>