<nav class="navbar fixed-top">
    <div class="container">
        <a class="navbar-brand" href="./home">
            MASORI AI<span>|</span><span>HOME</span>
        </a>
        <ul class="navbar-nav">
            <li>{{session["page_name"]}} <a onclick="logout()" style="
                cursor: pointer; margin-left: 40px;
                font-size: 14pt; text-decoration: underline;
                padding-right: 10px;">Sign Out</a></li>
        </ul>
    </div>
</nav>

<script>
    function logout() {
        $("#processing").show();
        
        $.ajax({
            type: 'POST',
            url: '/logout',
            contentType: 'application/json',
            data: {},
            success: function (data) {
                if (data == "updated") {
                    window.location.href = "./";
                }
            },
            error: function () {
                $(this).html("error!");
            }
        });
    }
</script>