{% extends 'layout.html' %}

{% block patientcontent %}


<table class="table table-striped table-hover table-bordered" id="patientTable">
    <thead>
        <tr>
            <th width="50px" class="text-center">#</th>
            <th>Patient Number</th>
            <th>City</th>
            <th>Diagnosis</th>
            <th>Drug</th>
            <th width="1%">Action</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-primary btn-sm">See Timeline</button></td>
        </tr>

    </tbody>
</table>

{% endblock %}