{% extends 'layout.html' %}

{% block content %}
<style>
    .highlight {
        background-color: #5ade6a73;
    }
</style>
<!--  -->
<div class="container content-container">
    <section class="section">

        <div class="row">
            <div class="col">
                <label class="form-label">Zip Code</label>
                <input class="form-control" name="zipcode" id="zipcodetext">
            </div>
            <div class="col">
                <label class="form-label">City</label>
                <select style="width: 100%;" name="city" id="selectCity">
                    <option value=""></option>
                </select>
            </div>
            <div class=" col">
                <label class="form-label">Diagnosis</label>
                <select style="width: 100%;" name="diagnosis" id="selectdiagnosis">
                    <option value=""></option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Drug</label>
                <select style="width: 100%;" name="drug" id="selectdrug">
                    <option value=""></option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label>
                <button class="btn btn-primary w-100" onclick="Search()">GO</button>
            </div>
        </div>

    </section>


    <!--  -->
    <div id="results">

        <section class="section" id="patient_timeline" style="display: none;">

            <!--  -->
            <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                style="margin-bottom: 0px !important" onclick="similarTrigger()">Similar
                Patients</button>

            <button id="btn_excel" class="btn btn-primary mb-3" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop_1" style="margin-left: 20px; margin-bottom: 0px !important" onclick="showHCP()">Show HCP
                Details</button>
            <!--  -->

            <section class="timeline" style="margin-top: 10px;">
                <ol>
                </ol>
                <span class="arrow arrow__prev" onclick="scrollMe()">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="arrow arrow__next" onclick="scrollMe()">
                    <i class="fas fa-angle-right"></i>
                </span>
            </section>
        </section>
        <section class="section">

            <div class="table-responsive" id="patient_details_grid">
                <table class="table table-striped table-hover table-bordered" id="patientTable">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">#</th>
                            <th>Patient Number</th>
                            <th>City</th>
                            <th>Current Diagnosis</th>
                            <th>Current Drug</th>
                            <th>Pattern</th>
                            <th width="1%">Action</th>
                        </tr>
                    </thead>
                    <tbody id="patient_table">
                        <tr>
                            <td colspan="7" style="text-align: center;">No Records Found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!--  -->
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-xl" style="max-width: 85% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Similar Patients</h5>
                <button type="button" class="btn-close" onclick="SimilarClose()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="section" id="patient_timeline_popup" style="display: none;">

                    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop_1"
                        style="margin-bottom: 0px !important" onclick="showSimilarHCP()">Show HCP Details</button>

                    <section class="timeline">
                        <ol>
                        </ol>
                        <span class="arrow arrow__prev" onclick="scrollMeinPopup()">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="arrow arrow__next" onclick="scrollMeinPopup()">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </section>
                </section>

                <table class="table table-striped table-hover table-bordered" id="similarPatientTable">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">#</th>
                            <th>Patient Number</th>
                            <th>City</th>
                            <th>Current Diagnosis</th>
                            <th>Current Drug</th>
                            <th>Pattern</th>
                            <th width="1%">Action</th>
                        </tr>
                    </thead>

                    <tbody id="similar_patient_table">
                        <tr>
                            <td colspan="7" style="text-align: center;">No Records Found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-xl" style="max-width: 85% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">HCP Details</h5>
                <button id="btn_export_excel" class="btn btn-primary mb-3" style="margin-left: 77%; margin-bottom: 0px !important" >Export To Excel</button>
                <button type="button" class="btn-close" id="btn_similar_hcp_close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="excel">

                <table class="table table-striped table-hover table-bordered" id="hcpDetailsTable">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>NPI</th>
                            <th>Specialty</th>
                            <th>Address 1</th>
                            <th>City</th>
                            <th>State</th>
                            <th>ZIP</th>
                        </tr>
                    </thead>

                    <tbody id="hcp_details_table">
                        <tr>
                            <td colspan="9" style="text-align: center;">No Records Found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script class="select2">
    var isScroll = true;
    var isScrollPopup = true;
    var currentLifestyle = '';
    var currentPatientnumber = '';
    var currentCity = '';
    var similarpatientCity = '';
    var IsSimiliarPatient = false;

    function addAllColumnHeaders(myList) {
        var columnSet = [];
        var headerTr$ = $('<tr/>');
        for (var i = 0; i < myList.length; i++) {
            var rowHash = myList[i];
            for (var key in rowHash) {
                if ($.inArray(key, columnSet) == -1) {

                    columnSet.push(key);
                    headerTr$.append($('<th/>').html(key));

                }
            }
        }
        $("#av").append(headerTr$);

        return columnSet;
    }

    $(document).ready(function () {
        $('select').select2({
            placeholder: ""
        });

        $("#processing").show();
        $.ajax({
            type: 'POST',
            url: '/get_city',
            contentType: 'application/json',
            data: {},
            success: function (data) {
                data = $.parseJSON(data);
                $("#selectCity").find('option').remove();
                $("#selectCity").append('<option value="--Select City--">--Select City--</option>');
                $.each(data, function (index, value) {
                    $("#selectCity").append('<option value=' + value + '>' + value + '</option>');
                });


                $.ajax({
                    type: 'POST',
                    url: '/get_diagnosis',
                    contentType: 'application/json',
                    data: {},
                    success: function (data) {
                        data = $.parseJSON(data);
                        $("#selectdiagnosis").find('option').remove();
                        $("#selectdiagnosis").append('<option value="--Select Diagnosis--">--Select Diagnosis--</option>');
                        $.each(data, function (index, value) {
                            if (value != 'Other Rx')
                                $("#selectdiagnosis").append('<option value=' + value + '>' + value + '</option>');
                        });


                        $.ajax({
                            type: 'POST',
                            url: '/get_drug',
                            contentType: 'application/json',
                            data: {},
                            success: function (data) {
                                data = $.parseJSON(data);
                                $("#selectdrug").find('option').remove();
                                $("#selectdrug").append('<option value="--Select Drug--">--Select Drug--</option>');
                                $.each(data, function (index, value) {
                                    $("#selectdrug").append('<option value=' + value + '>' + value + '</option>');
                                });

                                $("#processing").hide();
                            },
                            error: function () {
                                $(this).html("error!");
                            }
                        });
                    },
                    error: function () {
                        $(this).html("error!");
                    }
                });
            },
            error: function () {
                $(this).html("error!");
            }
        });


    });
</script>

<script>

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $('#form').unbind().submit(function (e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        $.each(this.elements, function (i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
        });

        $.ajax({
            type: 'POST',
            url: '/table',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                $("#results").html(data);
                $(".select2").remove();

            },
            error: function () {
                $(this).html("error!");
            }
        });
    });


    function scrollMe() {
        if (isScroll) {
            if ($("#patient_timeline .dis").is(":visible")) {
                $("#patient_timeline .dis").hide(400);
                $("#patient_timeline .clo").show(400);
            }
            else {
                $("#patient_timeline .clo").hide(400);
                $("#patient_timeline .dis").show(400);
            }
        }
    }

    function show_timeline(btnElement, date, stage, ta, symptom, lifestyle, patientnumber, hcp_city) {
        var dateArray = date.split("@");
        var stageArray = stage.split("@");
        var taArray = ta.split("@");
        var symptomArray = symptom.split("@");

        $("#patient_timeline ol").empty();

        $.each(dateArray, function (idx, val) {
            var li = '';
            if (idx > 6) {
                li = $('<li class="clo">');
            }
            else {
                li = $('<li class="dis">');
            }
            var div = $('<div>');
            if (val.indexOf('|') != -1) {
                var valOnly = val.split('|')[0];
                var mri_msg = val.split('|')[1];
                div.append('<time>' + valOnly + '</time>');
                div.append('<b>Stage: </b>' + taArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Medicine: </b>' + stageArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Symptom: </b>' + symptomArray[idx].replace("|", "'") + '<br>');
                if (mri_msg != undefined) {
                    if (mri_msg != '') {
                        div.append('<b style="background-color: #ffff0085">' + mri_msg + '</b>');
                    }
                }
            }
            else {
                div.append('<time>' + val + '</time>');
                div.append('<b>Stage: </b>' + taArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Medicine: </b>' + stageArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Symptom: </b>' + symptomArray[idx].replace("|", "'") + '<br>');
            }


            li.append(div);

            $("#patient_timeline ol").append(li);

        });


        if (dateArray.length > 6) {
            isScroll = true;
        }
        else {
            isScroll = false;
        }

        currentLifestyle = lifestyle;
        currentPatientnumber = patientnumber;
        currentCity = hcp_city

        $("#patient_timeline ol").append($("<li>"));

        $("#patient_table tr").removeClass("highlight");
        var tr = $(btnElement).closest('tr');
        $(tr).addClass("highlight");
        $("#patient_timeline").slideUp();
        $("#patient_timeline").slideDown();

        setTimeout(function () {
            window.scrollTo(0, 0);
        }, 500);
    }

    function show_popup_timeline(btnElement, date, stage, ta, symptom, patientCity) {
        var dateArray = date.split("@");
        var stageArray = stage.split("@");
        var taArray = ta.split("@");
        var symptomArray = symptom.split("@");

        $("#patient_timeline_popup ol").empty();

        $.each(dateArray, function (idx, val) {
            var li = '';
            if (idx >= 6) {
                li = $('<li class="clo">');
            }
            else {
                li = $('<li class="dis">');
            }
            var div = $('<div>');
            if (val.indexOf('|') != -1) {
                var valOnly = val.split('|')[0];
                var mri_msg = val.split('|')[1];
                div.append('<time>' + valOnly + '</time>');
                div.append('<b>Stage: </b>' + taArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Medicine: </b>' + stageArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Symptom: </b>' + symptomArray[idx].replace("|", "'") + '<br>');
                if (mri_msg != undefined) {
                    if (mri_msg != '') {
                        div.append('<b style="background-color: #ffff0085">' + mri_msg + '</b>');
                    }
                }
            }
            else {
                div.append('<time>' + val + '</time>');
                div.append('<b>Stage: </b>' + taArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Medicine: </b>' + stageArray[idx].replace("|", "'") + '<br>');
                div.append('<b>Symptom: </b>' + symptomArray[idx].replace("|", "'") + '<br>');
            }
            li.append(div);

            $("#patient_timeline_popup ol").append(li);

        });


        if (dateArray.length > 6) {
            isScrollPopup = true;
        }
        else {
            isScrollPopup = false;
        }

        similarpatientCity = patientCity

        $("#patient_timeline_popup ol").append($("<li>"));

        $("#similar_patient_table tr").removeClass("highlight");
        var tr = $(btnElement).closest('tr');
        $(tr).addClass("highlight");
        $("#patient_timeline_popup").slideUp();
        $("#patient_timeline_popup").slideDown();

        setTimeout(function () {
            window.scrollTo(0, 0);
        }, 500);
    }

    function Search() {
        var data = new FormData();

        data.append('zipcode', $("#zipcodetext").val());
        data.append('city', $("#selectCity :selected").text());
        data.append('diagnosis', $("#selectdiagnosis :selected").text());
        data.append('drug', $("#selectdrug :selected").text());

        $("#patient_timeline ol").empty();
        $("#patient_timeline").slideUp();

        if (($("#zipcodetext").val().length == 0) && ($("#selectCity").val() == "--Select City--") && ($("#selectdiagnosis").val() == "--Select Diagnosis--") && ($("#selectdrug").val() == "--Select Drug--")) {

            $("#patient_table").empty();
            var row = $("<tr/>");
            row.append($('<td colspan="7" style="text-align:center" />').html('No Records Found.'));
            $("#patient_table").append(row);
        }
        else {

            $("#processing").show();

            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: './get_patient_details',
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                data: data,
                success: function (response) {
                    try {
                        $("#patient_table").empty();
                        var obj = $.parseJSON(response);
                        if (Object.keys(obj).length > 0) {

                            for (var i = 0; i < Object.keys(obj).length; i++) {
                                var row = $("<tr/>");
                                row.append($('<td/>').html(''));
                                row.append($('<td/>').html(obj[i]["Patient_Number"]));
                                row.append($('<td/>').html(obj[i]["City"]));
                                row.append($('<td/>').html(obj[i]["Current_TA_On_Stage"] == "Other Rx" ? "Normal" : obj[i]["Current_TA_On_Stage"]));
                                row.append($('<td/>').html(obj[i]["Current_Medicine"]));
                                row.append($('<td/>').html(obj[i]["LifeStyle"]));

                                var date = '';
                                var stage = '';
                                var TA = '';
                                var Symptom = '';
                                var Is_GMR_Changed = obj[i]["Is_GMR_Changed"];
                                var MRI_Scan_Stage = obj[i]["MRI_Scan_Stage"];
                                var StageCnt = 1;

                                for (cnt = 0; cnt <= 8; cnt++) {
                                    try {
                                        var dateVar = 'Medicine_Date_On_Stage_' + (cnt + 1).toString();
                                        var stageVar = 'Medicine_On_Stage_' + (cnt + 1).toString();
                                        var TAVar = 'TA_On_Stage_' + (cnt + 1).toString();
                                        var symptomVar = 'Symptom_On_Stage_' + (cnt + 1).toString();
                                        var MRI_Date = StageCnt.toString();

                                        if (obj[i][dateVar] != undefined && obj[i][dateVar] != "" &&
                                            obj[i][stageVar] != undefined && obj[i][stageVar] != "" && obj[i][stageVar] != "null") {
                                            if (date == '') {
                                                date = TryToConvertToString(obj[i][dateVar]);
                                            }
                                            else {
                                                date = date + '@' + TryToConvertToString(obj[i][dateVar]);
                                            }

                                            if (MRI_Date == MRI_Scan_Stage) {
                                                if (Is_GMR_Changed == 'Yes') {
                                                    date = date + '|GMR changed in latest MRI Scan.'
                                                }
                                            }

                                            if (stage == '')
                                                stage = (obj[i][stageVar] == "Other Rx" ? "Normal" : obj[i][stageVar]);
                                            else
                                                stage = stage + '@' + (obj[i][stageVar] == "Other Rx" ? "Normal" : obj[i][stageVar]);

                                            if (TA == '')
                                                TA = (obj[i][TAVar] == "Other Rx" ? "Normal" : obj[i][TAVar]);
                                            else
                                                TA = TA + '@' + (obj[i][TAVar] == "Other Rx" ? "Normal" : obj[i][TAVar]);

                                            if (Symptom == '')
                                                Symptom = obj[i][symptomVar];
                                            else
                                                Symptom = Symptom + '@' + obj[i][symptomVar];

                                            StageCnt = StageCnt + 1;
                                        }
                                    }
                                    catch { }
                                }

                                try {
                                    stage = stage.replace(/'/gi, "|");
                                    TA = TA.replace(/'/gi, "|");
                                    Symptom = Symptom.replace(/'/gi, "|");
                                }
                                catch { }

                                try {
                                    var btn = $('<button onclick="show_timeline(this, \'' + date + '\', \'' + stage + '\', \'' + TA + '\', \'' + Symptom + '\', \'' + obj[i]["LifeStyle"] + '\', \'' + obj[i]["Patient_Number"] + '\', \'' + obj[i]["City"] + '\')" />').addClass("btn btn-primary btn-sm").text("See Timeline");
                                    row.append($('<td/>').append(btn));
                                    $("#patient_table").append(row);
                                }
                                catch { }
                            }
                        }
                        else {
                            var row = $("<tr/>");
                            row.append($('<td colspan="7" style="text-align:center" />').html('No Records Found.'));
                            $("#patient_table").append(row);
                        }
                        $("#processing").hide();
                    }
                    catch { $("#processing").hide(); }
                },
                error: function (err) {
                    debugger;
                    $(this).html("error!");
                }
            });

            $("#processing").show()
        }


    }

    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "July", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];

    function TryToConvertToString(inp) {
        var ret = inp;

        try {
            var dt = new Date(inp);
            var month = monthNames[dt.getMonth()];
            var yr = sort_year(dt);

            ret = month + "-" + yr;
        }
        catch {

        }

        return ret;
    }

    function sort_year(dt) {
        return ('' + dt.getFullYear()).substr(2);
    }

    function similarTrigger() {
        $("#patient_timeline_popup .clo").hide(400);
        $("#patient_timeline_popup .dis").show(400);

        var data = new FormData();

        data.append('patientnumber', $("#zipcodetext").val());
        data.append('lifestyle', currentLifestyle);


        $("#patient_timeline_popup ol").empty();
        $("#patient_timeline_popup").slideUp();

        $("#processing").show();

        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: './get_similar_patient_details',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            data: data,
            success: function (response) {
                try {
                    IsSimiliarPatient = true;
                    $("#similar_patient_table").empty();
                    var obj = $.parseJSON(response);
                    if (Object.keys(obj).length > 0) {

                        for (var i = 0; i < Object.keys(obj).length; i++) {
                            var row = $("<tr/>");
                            row.append($('<td/>').html(''));
                            row.append($('<td/>').html(obj[i]["Patient_Number"]));
                            row.append($('<td/>').html(obj[i]["City"]));
                            row.append($('<td/>').html(obj[i]["Current_TA_On_Stage"] == "Other Rx" ? "Normal" : obj[i]["Current_TA_On_Stage"]));
                            row.append($('<td/>').html(obj[i]["Current_Medicine"]));
                            row.append($('<td/>').html(obj[i]["LifeStyle"]));

                            var date = '';
                            var stage = '';
                            var TA = '';
                            var Symptom = '';
                            var Is_GMR_Changed = obj[i]["Is_GMR_Changed"];
                            var MRI_Scan_Stage = obj[i]["MRI_Scan_Stage"];
                            var StageCnt = 1;

                            for (cnt = 0; cnt <= 8; cnt++) {
                                try {
                                    var dateVar = 'Medicine_Date_On_Stage_' + (cnt + 1).toString();
                                    var stageVar = 'Medicine_On_Stage_' + (cnt + 1).toString();
                                    var TAVar = 'TA_On_Stage_' + (cnt + 1).toString();
                                    var symptomVar = 'Symptom_On_Stage_' + (cnt + 1).toString();
                                    var MRI_Date = StageCnt.toString();

                                    if (obj[i][dateVar] != undefined && obj[i][dateVar] != "" &&
                                        obj[i][stageVar] != undefined && obj[i][stageVar] != "" && obj[i][stageVar] != "null") {
                                        if (date == '') {
                                            date = TryToConvertToString(obj[i][dateVar]);
                                        }
                                        else {
                                            date = date + '@' + TryToConvertToString(obj[i][dateVar]);
                                        }

                                        if (MRI_Date == MRI_Scan_Stage) {
                                            if (Is_GMR_Changed == 'Yes') {
                                                date = date + '|GMR changed in latest MRI Scan.'
                                            }
                                        }

                                        if (stage == '')
                                            stage = (obj[i][stageVar] == "Other Rx" ? "Normal" : obj[i][stageVar]);
                                        else
                                            stage = stage + '@' + (obj[i][stageVar] == "Other Rx" ? "Normal" : obj[i][stageVar]);

                                        if (TA == '')
                                            TA = (obj[i][TAVar] == "Other Rx" ? "Normal" : obj[i][TAVar]);
                                        else
                                            TA = TA + '@' + (obj[i][TAVar] == "Other Rx" ? "Normal" : obj[i][TAVar]);

                                        if (Symptom == '')
                                            Symptom = obj[i][symptomVar];
                                        else
                                            Symptom = Symptom + '@' + obj[i][symptomVar];

                                        StageCnt = StageCnt + 1;
                                    }
                                }
                                catch { }
                            }

                            try {
                                stage = stage.replace(/'/gi, "|");
                                TA = TA.replace(/'/gi, "|");
                                Symptom = Symptom.replace(/'/gi, "|");
                            }
                            catch { }

                            try {
                                var btn = $('<button onclick="show_popup_timeline(this, \'' + date + '\', \'' + stage + '\', \'' + TA + '\', \'' + Symptom + '\', \'' + obj[i]["City"] + '\')" />').addClass("btn btn-primary btn-sm").text("See Timeline");

                                row.append($('<td/>').append(btn));
                                $("#similar_patient_table").append(row);
                            }
                            catch { }
                        }
                    }
                    else {
                        var row = $("<tr/>");
                        row.append($('<td colspan="6" style="text-align:center" />').html('No Records Found.'));
                        $("#similar_patient_table").append(row);
                    }
                    $("#processing").hide();
                }
                catch { $("#processing").hide(); }
            },
            error: function (err) {
                debugger;
                $(this).html("error!");
            }
        });

        $("#processing").show()
    }

    function showHCP() {

        $("#patient_timeline_popup").slideUp();

        var data = new FormData();
        data.append('currentCity', currentCity);

        $("#patient_timeline_popup ol").empty();
        $("#patient_timeline_popup").slideUp();

        $("#processing").show();

        $.ajax({
            type: 'POST',
            url: './get_hcp_details',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            data: data,
            success: function (response) {
                try {
                    $("#hcp_details_table").empty();
                    var obj = $.parseJSON(response);
                    if (Object.keys(obj).length > 0) {

                        for (var i = 0; i < Object.keys(obj).length; i++) {
                            var row = $("<tr/>");
                            row.append($('<td/>').html(''));
                            row.append($('<td/>').html(obj[i]["First_Name"]));
                            row.append($('<td/>').html(obj[i]["Last_Name"]));
                            row.append($('<td/>').html(obj[i]["NPI"]));
                            row.append($('<td/>').html(obj[i]["Specialty"]));
                            row.append($('<td/>').html(obj[i]["Address_1"]));
                            row.append($('<td/>').html(obj[i]["City"]));
                            row.append($('<td/>').html(obj[i]["State"]));
                            row.append($('<td/>').html(obj[i]["ZIP"]));
                            $("#hcp_details_table").append(row);

                        }

                        $("#btn_export_excel").show();
                    }
                    else {
                        var row = $("<tr/>");
                        row.append($('<td colspan="9" style="text-align:center" />').html('No Records Found.'));
                        $("#hcp_details_table").append(row);
                        $("#btn_export_excel").hide();
                    }

                    $("#processing").hide();
                }
                catch { $("#processing").hide(); }
            },
            error: function (err) {
                
                $(this).html("error!");
            }

        });

        $("#btn_export_excel").click(function (e) {
            debugger;
            TableToExcel.convert(document.getElementById("excel"), {
                name: "HCPDetails.xlsx",
                sheet: {
                    name: "Sheet1"
                }
            });
        });

        $("#processing").show()
    }

    function showSimilarHCP() {

        $('#staticBackdrop').hide();

        var data = new FormData();
        data.append('currentCity', similarpatientCity);

        $("#processing").show();

        $.ajax({
            type: 'POST',
            url: './get_hcp_details',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            data: data,
            success: function (response) {
                try {
                    $("#hcp_details_table").empty();
                    var obj = $.parseJSON(response);
                    if (Object.keys(obj).length > 0) {

                        for (var i = 0; i < Object.keys(obj).length; i++) {
                            var row = $("<tr/>");
                            row.append($('<td/>').html(''));
                            row.append($('<td/>').html(obj[i]["First_Name"]));
                            row.append($('<td/>').html(obj[i]["Last_Name"]));
                            row.append($('<td/>').html(obj[i]["NPI"]));
                            row.append($('<td/>').html(obj[i]["Specialty"]));
                            row.append($('<td/>').html(obj[i]["Address_1"]));
                            row.append($('<td/>').html(obj[i]["City"]));
                            row.append($('<td/>').html(obj[i]["State"]));
                            row.append($('<td/>').html(obj[i]["ZIP"]));
                            $("#hcp_details_table").append(row);

                        }
                    }
                    else {
                        var row = $("<tr/>");
                        row.append($('<td colspan="9" style="text-align:center" />').html('No Records Found.'));
                        $("#hcp_details_table").append(row);
                    }
                    $("#processing").hide();
                }
                catch { $("#processing").hide(); }
            },
            error: function (err) {
                debugger;
                $(this).html("error!");
            }
        });

        $("#processing").show();

        $('#btn_similar_hcp_close').click(function () {
            if(IsSimiliarPatient)
            $('#staticBackdrop').show();
        });
    }




    function scrollMeinPopup() {
        if (isScrollPopup) {
            if ($("#patient_timeline_popup .dis").is(":visible")) {
                $("#patient_timeline_popup .dis").hide(400);
                $("#patient_timeline_popup .clo").show(400);
            }
            else {
                $("#patient_timeline_popup .clo").hide(400);
                $("#patient_timeline_popup .dis").show(400);
            }
        }
    }

function SimilarClose(){
    IsSimiliarPatient = false;
}

</script>

{% endblock %}
