{% extends 'layout.html' %}

{% block content %}
<style>
    .highlight {
        background-color: #5ade6a73;
    }
</style>

<!--  -->
<div class="container content-container">
    <section class="section">

        <div class="row">
            <div class="col">
                <label class="form-label">Zip Code</label>
                <input class="form-control" name="zipcode" id="zipcodetext">
            </div>
            <div class="col">
                <label class="form-label">City</label>
                <select style="width: 100%;" name="city" id="selectCity">
                    <option value=""></option>
                </select>
            </div>
            <div class=" col">
                <label class="form-label">Life Style</label>
                <select style="width: 100%;" name="diagnosis" id="selectdiagnosis">
                    <option value=""></option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Drug</label>
                <select style="width: 100%;" name="drug" id="selectdrug">
                    <option value=""></option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label>
                <button class="btn btn-primary w-100" onclick="Search()">GO</button>
            </div>
        </div>

    </section>


    <!--  -->
    <div id="results">

        <section class="section" id="patient_timeline" style="display: none;">

            <!--  -->
            <button class="btn btn-primary mb-3" data-toggle="modal" data-target=".bd-example-modal-xl">Similar
                Patients</button>
            <!--  -->

            <section class="timeline">
                <ol>
                    <li class="dis">
                        <div>
                            <time>DD/MM/YYYY</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="dis">
                        <div>
                            <time>DD/MM/YYYY</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="dis">
                        <div>
                            <time>DD/MM/YYYY</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="dis">
                        <div>
                            <time>DD/MM/YYYY</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="dis">
                        <div>
                            <time>DD/MM/YYYY</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="dis">
                        <div>
                            <time>DD/MM/YYYY 6</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="clo" style="display: none;">
                        <div>
                            <time>DD/MM/YYYY 7</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="clo" style="display: none;">
                        <div>
                            <time>DD/MM/YYYY 8</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="clo" style="display: none;">
                        <div>
                            <time>DD/MM/YYYY 9</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li class="clo" style="display: none;">
                        <div>
                            <time>DD/MM/YYYY</time>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                    <li></li>
                </ol>
                <span class="arrow arrow__prev" onclick="scrollMe()">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="arrow arrow__next" onclick="scrollMe()">
                    <i class="fas fa-angle-right"></i>
                </span>
            </section>
        </section>
        <section class="section">

            <div class="table-responsive" id="patient_details_grid">
                <table class="table table-striped table-hover table-bordered" id="patientTable">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">#</th>
                            <th>Patient Number</th>
                            <th>City</th>
                            <th>Diagnosis</th>
                            <th>Drug</th>
                            <th width="1%">Action</th>
                        </tr>
                    </thead>
                    <tbody id="patient_table">
                        <td colspan="6" style="text-align: center;">No Records Found.</td>
                    </tbody>
                </table>
            </div>
        </section>
        <!--  -->
    </div>
</div>

<script class="select2">
    function addAllColumnHeaders(myList) {
        var columnSet = [];
        var headerTr$ = $('<tr/>');
        for (var i = 0; i < myList.length; i++) {
            var rowHash = myList[i];
            for (var key in rowHash) {
                if ($.inArray(key, columnSet) == -1) {

                    columnSet.push(key);
                    headerTr$.append($('<th/>').html(key));

                }
            }
        }
        $("#av").append(headerTr$);

        return columnSet;
    }

    $(document).ready(function () {
        $('select').select2({
            placeholder: ""
        });

        $("#processing").show();
        $.ajax({
            type: 'POST',
            url: '/get_city',
            contentType: 'application/json',
            data: {},
            success: function (data) {
                data = $.parseJSON(data);
                $("#selectCity").find('option').remove();
                $("#selectCity").append('<option value="--Select City--">--Select City--</option>');
                $.each(data, function (index, value) {
                    $("#selectCity").append('<option value=' + value + '>' + value + '</option>');
                });


                $.ajax({
                    type: 'POST',
                    url: '/get_diagnosis',
                    contentType: 'application/json',
                    data: {},
                    success: function (data) {
                        data = $.parseJSON(data);
                        $("#selectdiagnosis").find('option').remove();
                        $("#selectdiagnosis").append('<option value="--Select LifeStyle--">--Select LifeStyle--</option>');
                        $.each(data, function (index, value) {
                            $("#selectdiagnosis").append('<option value=' + value + '>' + value + '</option>');
                        });


                        $.ajax({
                            type: 'POST',
                            url: '/get_drug',
                            contentType: 'application/json',
                            data: {},
                            success: function (data) {
                                data = $.parseJSON(data);
                                $("#selectdrug").find('option').remove();
                                $("#selectdrug").append('<option value="--Select Drug--">--Select Drug--</option>');
                                $.each(data, function (index, value) {
                                    $("#selectdrug").append('<option value=' + value + '>' + value + '</option>');
                                });

                                $("#processing").hide();
                            },
                            error: function () {
                                $(this).html("error!");
                            }
                        });
                    },
                    error: function () {
                        $(this).html("error!");
                    }
                });
            },
            error: function () {
                $(this).html("error!");
            }
        });


    });
</script>

<script>

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $('#form').unbind().submit(function (e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        $.each(this.elements, function (i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
        });

        $.ajax({
            type: 'POST',
            url: '/table',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                $("#results").html(data);
                $(".select2").remove();

            },
            error: function () {
                $(this).html("error!");
            }
        });
    });


    function scrollMe() {
        if ($(".dis").is(":visible")) {
            $(".dis").hide(400);
            $(".clo").show(400);
        }
        else {
            $(".clo").hide(400);
            $(".dis").show(400);
        }
    }

    function show_timeline(btnElement) {
        $("tr").removeClass("highlight");
        var tr = $(btnElement).closest('tr');
        $(tr).addClass("highlight");
        $("#patient_timeline").slideUp();
        $("#patient_timeline").slideDown();
        window.scrollTo(0, 0);
    }

    function Search() {
        var data = new FormData();

        data.append('zipcode', $("#zipcodetext").val());
        data.append('city', $("#selectCity").val());
        data.append('diagnosis', $("#selectdiagnosis").val());
        data.append('drug', $("#selectdrug").val());

        $("#processing").show();

        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: './get_patient_details',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            data: data,
            success: function (response) {
                try {
                    $("#patient_table").empty();
                    var obj = $.parseJSON(response);
                    if (Object.keys(obj).length > 0) {

                        for (var i = 0; i < Object.keys(obj).length; i++) {
                            var row = $("<tr/>");
                            row.append($('<td/>').html(''));
                            row.append($('<td/>').html(obj[i]["Patient Number"]));
                            row.append($('<td/>').html(obj[i]["City"]));
                            row.append($('<td/>').html(obj[i]["Diagnosis"]));
                            row.append($('<td/>').html(obj[i]["Drug"]));
                            var btn = $('<button onclick="show_timeline(this)" />').addClass("btn btn-primary btn-sm").text("See Timeline");

                            row.append($('<td/>').append(btn));
                            $("#patient_table").append(row);
                        }
                    }
                    else {
                        var row = $("<tr/>");
                        row.append($('<td colspan="6" style="text-align:center" />').html('No Records Found.'));
                        $("#patient_table").append(row);
                    }
                    $("#processing").hide();
                }
                catch { $("#processing").hide(); }
            },
            error: function (err) {
                debugger;
                $(this).html("error!");
            }
        });
    }

</script>

{% endblock %}